# Include a .gitignore file to help keep your repository clean.

# Nextflow
.nextflow*
work/
results/
.lineage/

# nf-test files
.nf-test.log
.nf-test/

# Pixi environments
.pixi/*
!.pixi/config.toml

# Quarto files
.quarto/
_site/
_book/
**/.gitignore

# misc
.DS_Store
.screenrc
slurm*.out
slurm*.err
